{% extends "./layout/common.html" %}

{% block content %}
<div class="space-y-5">
{% for item in posts %}
<div class="card card-side bg-base-100 shadow-xl">
    <figure>
        <img src="https://img.daisyui.com/images/stock/photo-1635805737707-575885ab0820.webp" alt="Movie" />
    </figure>

    <div class="card-body" >
        <h2 class="card-title">{{item.post.title}}</h2>
        <p>{{item.post.text}}</p>
        <div class="card-actions justify-end">
            <button class="btn btn-primary">Read</button>
        </div>
        <!-- {% for t in item.tags %}
        <div class="card-actions justify-end">
            <button class="btn btn-primary">{{t.name}}</button>
        </div>
        {% endfor %} -->
    </div>
</div>
{% endfor %}
</div>
{% endblock %}