<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" type="text/css" />
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.1/css/bulma.min.css" /> -->
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Axum Blog</title>
</head>

<body>
    <div class="flex flex-col min-h-screen">
        {% include "frontend/layout/header.html" %}
        <div class="w-4/5 ps-3 pt-3 pb-3">
            {% block content %}main{%endblock %}
        </div>
        {% include "frontend/layout/footer.html" %}
    </div>
</body>

</html>