<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" type="text/css" />
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.1/css/bulma.min.css" /> -->
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Axum Blog</title>
</head>

<body>
    {% include "frontend/layout/header.html" %}
    {% block content %}main{%endblock %}
    {% include "frontend/layout/footer.html" %}
</body>

</html>